# Importing Data Files

In [2]:
# import dependencies and set up
import pandas as pd 
import os

In [41]:
school_data_to_load = "school_complete.csv"
student_data_to_load = "students_complete.csv"

In [40]:
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/school_complete.csv'

In [8]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [9]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

Cleaning Data

In [10]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [12]:
#Step 2 is cleaning student namaes and replacing substrings in python 
prefixes_suffixes = ["Dr.", "Ms.", "Mr.", "MD", "PhD", "Mrs.", "Miss", "DDS", "DVM", ]

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\15417\AppData\Local\Temp\ipykernel_20652\1458914135.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [15]:
student_data_df.head(25)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73

# Challenege here is replacing  the reading and maths scores - having difficulty

In [29]:
Thomas_High_School_student_data_df = student_data_df[(student_data_df["school_name"] == "Thomas High School")
                & (student_data_df["grade"] == "9th")].index 
thomas_high_school_student_data_df

NameError: name 'thomas_high_school_student_data_df' is not defined

In [35]:
cleaned_df = student_data_df.drop(thomas_high_school_student_data_df , inplace=False)
cleaned_df

NameError: name 'thomas_high_school_student_data_df' is not defined

In [30]:
student_data_df.count

<bound method DataFrame.count of        Student ID      student_name gender grade         school_name  \
37537       37537       Erik Snyder      M   9th  Thomas High School
37538       37538    Tanya Martinez      F   9th  Thomas High School
37539       37539     Noah Erickson      M   9th  Thomas High School
37540       37540      Austin Meyer      M   9th  Thomas High School
37543       37543   Madison Hampton      F   9th  Thomas High School
...           ...               ...    ...   ...                 ...
39152       39152        Lori Moore      F   9th  Thomas High School
39153       39153   William Hubbard      M   9th  Thomas High School
39157       39157  Kristen Gonzalez      F   9th  Thomas High School
39164       39164    Joseph Anthony      M   9th  Thomas High School
39167       39167    Rebecca Tanner      F   9th  Thomas High School

       reading_score  math_score
37537             80          90
37538             71          69
37539             86          76
37540             73          96
37543             82          73
...              ...         ...
39152             98          84
39153             80          75
39157             79          94
39164             97          76
39167             73          84

[461 rows x 7 columns]>

# Replace math and reading scores with NaN for 9th grade at Thomas High

In [ ]:
import numpy as np

In [36]:
student_data_df.loc[
    (student_data_df["school_name"] == "Thomas High School") & 
    (student_data_df["grade"] == "9th") &
    (student_data_df["reading_scores"] > 0), "reading_score"=np.nan]

SyntaxError: invalid syntax (840221167.py, line 4)

In [42]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76
37540,37540,Austin Meyer,M,9th,Thomas High School,73,96
37543,37543,Madison Hampton,F,9th,Thomas High School,82,73
37550,37550,Patricia Diaz,F,9th,Thomas High School,76,99
37558,37558,Kelly Henderson,M,9th,Thomas High School,81,90
37559,37559,Kiara Bates,F,9th,Thomas High School,72,98
37562,37562,Teresa Johns,F,9th,Thomas High School,86,69
37564,37564,Stephen Patrick,M,9th,Thomas High School,93,97

In [43]:
import numpy as np

In [44]:
student_data_df.loc[]

SyntaxError: invalid syntax (3670329531.py, line 1)